smrt-common-models/src/main/resources/pb-common-xsds/PacBioAutomationConstraints.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="xs3p.xsl"?>
<!-- edited with XMLSpy v2015 rel. 4 sp1 (x64) (http://www.altova.com) by efayad@pacificbiosciences.com (Pacific Biosciences) -->
<!-- W3C Schema generated by XMLSpy v2014 rel. 2 (x64) (http://www.altova.com) -->
<xs:schema xmlns="http://pacificbiosciences.com/PacBioAutomationConstraints.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xi="http://www.w3.org/2003/XInclude" xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:pbbase="http://pacificbiosciences.com/PacBioBaseDataModel.xsd" xmlns:pbrk="http://pacificbiosciences.com/PacBioReagentKit.xsd" xmlns:pbpn="http://pacificbiosciences.com/PacBioPartNumbers.xsd" targetNamespace="http://pacificbiosciences.com/PacBioAutomationConstraints.xsd" elementFormDefault="qualified" id="PacBioAutomationConstraints">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/03/xml.xsd"/>
	<xs:import namespace="http://pacificbiosciences.com/PacBioBaseDataModel.xsd" schemaLocation="PacBioBaseDataModel.xsd"/>
	<xs:import namespace="http://pacificbiosciences.com/PacBioReagentKit.xsd" schemaLocation="PacBioReagentKit.xsd"/>
	<xs:import namespace="http://pacificbiosciences.com/PacBioPartNumbers.xsd" schemaLocation="PacBioPartNumbers.xsd"/>
	<xs:element name="PacBioAutomationConstraints" type="PacBioAutomationConstraintsType">
		<xs:annotation>
			<xs:documentation>The root element of the Automation Constraints </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AutomationConstraint" type="AutomationConstraintType"/>
	<xs:complexType name="AutomationConstraintType">
		<xs:annotation>
			<xs:documentation>This data type defines constraints that an automation has.  The information here, along with the availability of an exclusionary list of automations in the PartNumberType, allows for defining a robust compatibility matrix.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="pbbase:BaseEntityType">
				<xs:sequence>
					<xs:element name="Automations" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Names of automations that are all similarly constrained</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Automation" type="xs:string" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="SupportsCellReuse" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>Does this automation support cell reuse?</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="SupportsStageStart" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>Does this automation support hot-start on the stage?</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="MaxCollectionsPerCell" type="xs:int">
					<xs:annotation>
						<xs:documentation>If cell reuse is supported (i.e. above attribute is true) how many times can the cell be reused?</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="MinMovieLength" type="xs:int">
					<xs:annotation>
						<xs:documentation>Minimum length of movie acquisition</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="MaxMovieLength" type="xs:int">
					<xs:annotation>
						<xs:documentation>Maximum length of movie acquisition</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="MinInsertSize" type="xs:int">
					<xs:annotation>
						<xs:documentation>Minimum recommended insert size</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="MaxInsertSize" type="xs:int">
					<xs:annotation>
						<xs:documentation>Maximum recommended insert size</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PacBioAutomationConstraintsType">
		<xs:sequence>
			<xs:element name="AutomationConstraints">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="AutomationConstraint" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="pbpn:PacBioPartNumbers" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="Version" type="xs:string"/>
		<xs:attribute name="Description" type="xs:string"/>
	</xs:complexType>
</xs:schema>
